block header

doctype html

html(lang="nl" xml:lang="nl" xmlns="http://www.w3.org/1999/xhtml")
    meta(   charset="UTF-8" 
            name="Gulp Basic Project"
            author="Son Le"
            content="text/html"
            description="An almost barebone gulp project"
            keywords="gulp, jade, angular, js"
        )

    head
        //- Styles ref
        link(rel='stylesheet', href='../lib/styles/style.min.css') 
        link(rel='stylesheet', href='../styles/main.css')
        link(href="https://fonts.googleapis.com/css?family=Hind+Siliguri|Roboto" rel="stylesheet")
        //- Scripts ref
        link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css")
        script(type='text/javascript', src='../lib/scripts/lib.script.min.js')

        title Gulp Basic Project

    //- Body
    body
        #wrapper

            block navbar

            block content

        script(type='text/javascript', src='../scripts/main.js')