block header

doctype html

html(lang="nl" xml:lang="nl" xmlns="http://www.w3.org/1999/xhtml")
    meta(   charset="UTF-8" 
            name="Lesstofrotterdam"
            author="M.Schouten, S.Le, Lesstofrotterdam"
            content="text/html"
            description="Bijlessen en huiswerkbegeleiding voor middelbare scholieren van alle leerjaren in Rotterdam"
            keywords="bijles, bijlessen, huiswerkbegeleiding, Latijn, Grieks, bijlesinstituut, aan huis, Rotterdam, middelbare school, scholieren, wiskunde, les, universiteit, Den Haag, Schiedam, Capelle"
        )

    head
        //- Styles ref
        link(rel='stylesheet', href='../lib/styles/style.min.css') 
        link(rel='stylesheet', href='../styles/main.css')
        link(href="https://fonts.googleapis.com/css?family=Hind+Siliguri|Roboto" rel="stylesheet")
        //- Scripts ref
        link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css")
        script(type='text/javascript', src='../lib/scripts/lib.script.min.js')

        title Lesstof Rotterdam

    //- Body
    body
        #wrapper

            block navbar

            block content

        script(type='text/javascript', src='../scripts/main.js')